<!DOCTYPE html>
<html lang="en">
<script src="{{url_for('static', filename='p5.js')}}"></script>
<script src="{{url_for('static', filename='socket.io.js')}}"></script>
<script type="text/javascript" charset="utf-8">

class dot {

  constructor(){
   this.x = width/2
   this.y = height/2
  }

 display(){
   circle(this.x,this.y,10)
 }

}

    var socket;
    var video;
    var slider;




    function setup(){


        socket=io();
        push();
        rotate(QUARTER_PI)
        slider = createSlider(0, 1, 0, 0.05);
        slider.id('slider');
        slider.position(10, 330);
        slider.style('width', '125px');
        slider.style('height', '25px');
        slider.style('background-color', 'red');
        slider.style('border-radius', '10px');
        slider.style('border', '5px solid black');
        slider.style('cursor', 'grab');
        slider.style('outline', 'none');
        slider.style('box-shadow', '0 0 10px #000000');
        slider.style('font-size', '16px');
        slider.style('font-family', 'Baghdad, Times, serif');
        slider.style('font-weight', 'bold');
        slider.style('color', 'gold');
        slider.style('text-shadow', 'black');
        slider.style('backdrop-filter', 'blur(10px)');
        slider.style('border-radius', '10px');
        slider.style('padding', '5px');
        slider.style('margin', '4px');

        pop();
///////////////////////////////////////////////////////////////


        createCanvas(300,300);
        cursor(CROSS)
        fill(255)

        background("orange")
        myPos = new dot();

        var ww = windowWidth;
        ww = ww /10;

        var div1 = createDiv('');
        div1.size(300,ww);
        div1.id('div1');

        var button1 = createButton('👆︎');
        button1.size(ww,ww);
        button1.mousePressed(forward);

        var button5 = createButton('👇︎');
        button5.size(ww,ww);
        button5.mousePressed(backward);

        var button3 = createButton('☉');
        button3.size(ww,ww);
        button3.mousePressed(stop);

        var button2 = createButton('👈︎');
        button2.size(ww, ww);
        button2.mousePressed(left);

        var button4 = createButton('👉︎');
        button4.size(ww, ww);
        button4.mousePressed(right);

    }

    function forward() {
        var speed = slider.value();
        socket.emit('motor_control', {data: 'Forward', speed: speed});

         myPos.y-=3;
         myPos.display();

        div1.innerHTML = "Speed: " + speed;
    }

        function backward(){
        var speed = slider.value();
        socket.emit('motor_control', {data: 'Backward', speed: speed});

         myPos.y+=3;
         myPos.display();

         div1.innerHTML = "Speed: " + speed;
    }

     function stop(){
        var speed = slider.value();
        socket.emit('motor_control', {data: 'Stop', speed: speed});
        div1.innerHTML = "Speed: " + speed;
    }

    function left(){
        var speed = slider.value();
        socket.emit('motor_control', {data: 'Left', speed: speed});

         myPos.x-=3;
         myPos.display();

         div1.innerHTML = "Speed: " + speed;

    }

    function right(){
        var speed = slider.value();
        socket.emit('motor_control', {data: 'Right', speed: speed});

         myPos.x+=3;
         myPos.display();

         div1.innerHTML = "Speed: " + speed;

    }

</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motors Control</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 64pt;
        align-items: center;
    }
    div{
        color: whitesmoke;
        font-size: xxx-large;
    }

    body{
        background-color: #000000;
    }
    #slider {


        writing-mode: vertical-tb;
          -webkit-rotate: 270deg;
        -moz-rotate: 270deg;
        -ms-rotate: 270deg;
        -o-rotate: 270deg;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);


    }

</style>

<body>
<img src="{{ url_for('video_feed') }}">
</body>
</html>